@(user: User, message : Message)

@styles={
  <link href="@routes.Assets.at("plugins/boostrap-checkbox/css/bootstrap-checkbox.css")" rel="stylesheet" type="text/css" media="screen"/>
  <link href="@routes.Assets.at("plugins/jquery-datatable/css/jquery.dataTables.css")" rel="stylesheet" type="text/css"/>

}

@nav("", user,styles){

  <div class="row">
    <div class="col-md-11">
      <div class="grid simple">
        <div class="grid-body no-border invoice-body"> <br>
          <div class="pull-left">
            <div class="user-info-wrapper">
              <div class="profile-wrapper">
                <img src="@routes.Assets.at(user.getProfilePicture.getPath)"  alt="" data-src="@routes.Assets.at(user.getProfilePicture.getPath)" data-src-retina="@routes.Assets.at(user.getProfilePicture.getPath)" width="69" height="69" />
              </div>
              <div class="user-details">
                <div class="username">@message.getSender.getFirstName <span class="semi-bold">@message.getSender.getLastName</span></div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <h5>@Languages.message("label.from") @message.getSender.getEmail</h5>
            <h5>@Languages.message("label.to") @message.getRecipientsString() </h5>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-9">
              <h4> @Languages.message("label.subject"): <span class="semi-bold">@message.getSubject</span></h4>
                <hr>@Html.apply(message.getMessage)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="invoice-button-action-set">
        <p>
          <button class="btn btn-primary" type="button"><i class="fa fa-print"></i></button>
        </p>
        <p>
          <button class="btn " type="button"><i class="fa fa-cloud-download"></i></button>
        </p>
      </div>
    </div>
  </div>

}