@()
@style = {
    <!-- BEGIN PLUGIN CSS -->
    <link href="@routes.Assets.at("../../../public/plugins/bootstrap-tag/bootstrap-tagsinput.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.Assets.at("../../../public/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.Assets.at("../../../public/plugins/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" type="text/css" />
    <!-- END PLUGIN CSS -->
    <link href="@routes.Assets.at("../../../public/plugins/boostrap-slider/css/slider.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.Assets.at("../../../public/plugins/dropzone/css/dropzone.css")" rel="stylesheet" type="text/css"/>
}

@scripts = {
    <!-- BEGIN CORE JS FRAMEWORK-->
    <script src="@routes.Assets.at("../../../public/plugins/bootstrap-select2/select2.min.js")" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@routes.Assets.at("../../../public/plugins/jquery-inputmask/jquery.inputmask.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/jquery-autonumeric/autoNumeric.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/bootstrap-tag/bootstrap-tagsinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("../../../public/plugins/dropzone/dropzone.min.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="@routes.Assets.at("../../../public/js/form_elements.js")" type="text/javascript"></script>
}

    @helper.form(routes.Projects.createProject()){

    <!-- BEGIN BASIC FORM ELEMENTS-->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <div class="row">

                        <div class="form-group">
                            <label class="form-label">Project Name</label>

                            <div class="controls">
                                <input name="name" type="text" class="form-control">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-label">Description</label>

                            <div class="controls">
                                <textarea name="description" style="width: 100%; height: 80px"></textarea>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-label">Objective</label>
                            <span class="help">e.g. "$45.50"</span>

                            <div class="controls">
                                <input name="objective" type="text" class="form-control" data-a-sign="$ ">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END BASIC FORM ELEMENTS-->

    <!-- BEGIN DROPDOWN CONTROLS-->
    <div class="row">

        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Select <span class="semi-bold">Type</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="source" name="type" style="width:100%">
                                <optgroup label="TYPES">
                                    <c:forEach var="type" items="${requestScope.types}">
                                        <option> type options</option>
                                    </c:forEach>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Tags <span class="semi-bold">Input</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="row-fluid">
                        <input class="tags" id="source-tags" type="text" name="source-tags"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END DROPDOWN CONTROLS-->

    <!-- BEGIN DATEPICKER CONTROLS-->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">

                <div class="grid-title no-border">
                    <h4>Date <span class="semi-bold">Controls</span></h4>
                </div>

                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>End <span class="semi-bold"> Date</span></h3>

                            <div class="input-append success date col-md-10 col-lg-6 no-padding">
                                <input type="text" class="form-control" name="end">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- END DATEPICKER CONTROLS-->

    <!-- BEGIN HTML5 WYSIWG CONTROLS-->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Describe your <span class="semi-bold">Project</span></h4>
                </div>

                <div class="grid-body no-border">
                    <h3>Write <span class="semi-bold">Description</span></h3>
                    <textarea id="text-editor" name="html" placeholder="Enter text ..." class="form-control" rows="10"></textarea>
                </div>

            </div>
        </div>
    </div>
    <!-- END HTML5 WYSIWG CONTROLS-->

    <button type="submit" class="btn btn-primary btn-cons"><i class="fa fa-check"></i>&nbsp;Submit</button>
}