@(project: Project, user: User)
@import _root_.utils.ProjectUtils

@style = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("plugins/jquery-superbox/css/style.css")">
    <link href="@routes.Assets.at("plugins/pace/pace-theme-flash.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@routes.Assets.at("plugins/gritter/css/jquery.gritter.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@routes.Assets.at("plugins/jquery-slider/css/jquery.sidr.light.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@routes.Assets.at("css/my_css/projectView.css")" rel="stylesheet" type="text/css">

}
@scripts = {
    <script src="@routes.Assets.at("plugins/jquery-superbox/js/superbox.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/tabs_accordian.js")" type="text/javascript" rel="script"></script>
    <script src="@routes.Assets.at("js/my_js/projectView.js")" type="text/javascript" rel="script"></script>
    <script src="@routes.Assets.at("js/jquery.slimscroll.min.js")" type="text/javascript" rel="script"></script>
}

@nav(null, user, style, scripts) {
    @if(project.getFollowers.contains(user)) {
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="text" id="following" value="true" hidden="hidden">
    } else {
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="text" id="following" value="false" hidden="hidden">

    }

    <!--Main content start ------------------------------------->
    <div class="row">

            <!--Main body -------------------------------------->
        <div class="col-md-8">
                <!--Nav-->
            <ul class="nav nav-pills" id="tab-4">
                <li class="active">
                    <a href="#info-tab">@Languages.message("label.info")</a>
                </li>
                <li>
                    <a href="#comments-tab">@Languages.message("label.comments")</a>
                </li>
            </ul>
                <!--Tabs--->
            <div class="tab-content">
                    <!--Info tab-->
                <div class="tab-pane active" id="info-tab">
                    <div id="info-tab-wrapper">
                        @Html.apply(project.getHtml)
                    </div>
                </div>
                    <!--Comments tab-->
                <div class="tab-pane" id="comments-tab">
                    <div id="comments-wrapper">
                    @for(comment: Comment <- project.getComments) {
                        <div class="row comment-wrapper">
                            <div class="col-md-1">
                                <a href="@routes.Users.showProfile(comment.getUser.getId)">
                                    <img src="@routes.Assets.at(comment.getUser.getProfilePicture.getPath)" class="follower-tile">
                                </a>
                            </div>
                            <div class="col-md-10">
                                <h6>@comment.getUser.getUsername</h6>
                                <p>@comment.getComment</p>
                            </div>
                        </div>
                        <hr class="no-margin">
                        }
                    </div>
                    <div id="comment-input-wrapper">
                            <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="text" class="hidden" id="userId" value="@user.getId">
                            <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="text" class="hidden" id="projectId" value="@project.getId">


                        <textarea id="comment" class="form-control user-status-box post-input" placeholder="Comment"></textarea>
                        <button onclick="submitComment();" class="btn btn-primary pull-right" type="button">
                            Comment
                        </button>
                    </div>

                </div>
            </div>
        </div>
            <!--Side info  ------------------------------------->
        <div class="col-md-4" id="project-info">
            <div class="info-container">
                <h2 class="project-title"><b>@project.getName </b></h2>
                <h4>by <b>@project.getUser.getUsername</b></h4>
                <p>@project.getDescription</p>
                <div id="info-widgets">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row info-widget">
                                <div class="col-md-2 icon-container">
                                    <h3><i class="fa fa-check-circle"></i> </h3>
                                </div>
                                <div class="col-md-10 info-container">
                                    <h4>@project.getObjective</h4>
                                    <h6>pledged</h6>
                                </div>
                            </div>
                            <div class="row info-widget">
                                <div class="col-md-2 icon-container">
                                    <h3>&nbsp;<b>$</b></h3>
                                </div>
                                <div class="col-md-10 info-container">
                                    <h4 id="raised-qty">@project.getFundsRaised</h4>
                                    <h6>total raised</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row info-widget">
                                <div class="col-md-2 icon-container">
                                    <h3><i class="fa fa-user"></i> </h3>
                                </div>
                                <div class="col-md-10 info-container">
                                    <h4 id="followers-qty">@project.getFollowersQty</h4>
                                    <h6>followers</h6>
                                </div>
                            </div>
                            <div class="row info-widget">
                                <div class="col-md-2 icon-container">
                                    <h3><i class="fa fa-calendar"></i></h3>
                                </div>
                                <div class="col-md-10 info-container">
                                    <h4>@project.getDaysRemaining</h4>
                                    <h6>days remaining</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttons-container">
                @if(!project.getUser.equals(user)) {
                    <button class="btn btn-success btn-cons" id="follow-btn" onclick="follow();">
                        <i class="fa fa-check"></i> &nbsp;&nbsp; Follow
                    </button>
                    <button class="btn btn-danger btn-cons" id="unfollow-btn" onclick="unfollow();">
                        <i class="fa fa-times"></i> &nbsp;&nbsp; Unfollow
                    </button>
                    <button class="btn btn-warning btn-cons" data-toggle="modal" data-target="#donateModal" id="contribute-btn">
                        <i class="fa fa-smile-o"></i> &nbsp;&nbsp; Contribute
                    </button>

                } else {
                    <a href="/project/edit/@project.getId" type="button" class="btn btn-success btn-cons">
                        Edit
                    </a>
                }
                </div>
                <hr>
                <h3>@Languages.message("label.followers")</h3>
                @for(follower: User <- ProjectUtils.get15RandomFollowers(project)) {
                    <a href="@routes.Users.showProfile(follower.getId)">
                        <img src="@routes.Assets.at(follower.getProfilePicture.getPath)" class="follower-tile" title="@follower.getUsername">
                    </a>
                }
                <hr>
                <h3>@Languages.message("label.tags")</h3>
                <hr>
            </div>
        </div>
    </div>
    <!--Main content end --------------------------------------->

    <!--Pledge modal start ------------------------------------->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Contribute
                </div>
                <div class="modal-body">
                    <div class="row form-row">
                        Amount
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="number" class="form-control" id="pledge">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="submitPledge();">
                        Accept
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" id="close-pledge-modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Pledge modal end --------------------------------------->

    <!--Template comment --------------------------------------->
    <div class="hidden">
        <div class="row comment-wrapper" id="template-comment">
            <div class="col-md-1">
                <a href="">
                    <img src="" class="follower-tile">
                </a>
            </div>
            <div class="col-md-10">
                <h6></h6>
                <p></p>
            </div>
        </div>
        <hr class="no-margin">
    </div>
}