@(projects: List[Project], user: User)
@css = {
    <link href="@routes.Assets.at("css/my_css/index.css")" rel="stylesheet" type="text/css">
}
@js = {
    <script src="@routes.Assets.at("js/modernizr.custom.js")" rel="script"></script>
}

@nav(null, user, css, js) {
    <ul class="home-grid cs-style-1">
    @for(project: Project <- projects) {
        <li>
            <figure>
                <img src="@routes.Assets.at("images/1.png")" alt="img01">
                <figcaption>
                    <h3>@project.getName</h3>
                    <p>@project.getDescription</p>
                    <br>
                    <p>
                        <i class="fa fa-user"></i> @project.getFollowersQty &nbsp;
                        <b>$</b> @project.getFundsRaised &nbsp;
                        <i class="fa fa-calendar"></i> @project.getDaysRemaining
                    </p>
                    <a href="@routes.Projects.showProject(project.getId)">Take a look</a>
                </figcaption>
            </figure>
        </li>
    }
    </ul>
}
